<footer>

	<div class="content-padding">
		<div class="footer-content">

			<p>Copyright &copy; 2020 Rachana R Shankar</p>

			<div class="social-media-icons">
				<a href="#" class="px-1"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#" class="px-1"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			</div>

		</div>
	</div>
</footer>

</body>
</html>