body {
    background-image: url('https://images.unsplash.com/photo-1562699372-9d06fa3d9d74?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
    color: #9c9c9c;
	font-family: "PT Sans", sans-serif;
}


.navbar-fixed-top {
	position: absolute;
	padding-top: 10px;
}

.navbar-nav li a {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	font-size: 12px;
}

.navbar-nav > li:first-child {
	margin-right: 20px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: transparent;
}

.navbar-nav li a:hover,
.navbar-nav li a:focus {
	background-color: transparent;
}

.navbar-nav>li>.dropdown-menu {
	background-color: rgba(0,0,0,0.5);
}

html,
body,
.container {
	height: 100%;
}

.content-padding {
	padding-left: 11%;
	padding-right: 11%;
}

a {
	color: inherit;
}

a:hover {
		color: #ffffffcc;
}


.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.uppercase {
	text-transform: uppercase;
}

.btn {
	display: inline-block;
	background: transparent;
	color: inherit;
	font: inherit;
	border: 0;
	outline: 0;
	padding: 0;
	transition: all 200ms ease-in;
	cursor: pointer;
}

.btn--primary {
    background: #fd7295f8;
    color: #fff;
    box-shadow: 0 0 10px 2px rgb(252, 196, 215);
    border-radius: 2px;
    padding: 12px 36px;
}

.btn:hover {
	background: darken(#ff0342, 4%);
}
		
.btn:active {
    background: #fd7295;
    box-shadow: inset 0 0 20px 10px rgba(255, 255, 255, 0.712);
}

	
.btn--inside {
    margin-left: -96px;
}

.form__field {	
    width: 360px;
    background: #fff;
    color: rgb(0, 0, 0);
    font: inherit;
    box-shadow: 0 6px 10px 0 rgb(252, 196, 215);
    border: 0;
    outline: 0;
    padding: 22px 18px;
}

.container__item--bottom{
    padding: 2%;
}

footer {
    margin-top: 50px;
  }
  
  footer::before {
    content: "";
    display: block;
    width: 90%;
    margin-bottom: 20px;
    border-top: 1px solid #000000;
    margin-left: auto;
    margin-right: auto;
  }
  
  footer p {
    float: left;
    color: rgb(0, 0, 0);
    letter-spacing: 0.3px;
    font-size: 12px;
    padding-bottom: 20px;
  }
  
  footer .social-media-icons {
    float: right;
  }
  
  footer .social-media-icons i {
    font-size: 24px;
    color: rgb(0, 0, 0);
    transition: 0.5s ease-in-out;
  }
  
  footer .social-media-icons a:first-child {
    margin-right: 20px;
  }
  
  footer .social-media-icons a:last-child:hover i {
    color: #00a2ff;
  }
  
  footer .social-media-icons a:first-child:hover i {
    color: rgb(243, 96, 152);
  }
